black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy==1.26.4
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
jupyter
ipykernel
portalocker
transformers
torch==2.2.0
torchtext==0.17.0